section {
  border-radius: 3%;
  width: 25%;
  margin: auto;
  background: rgba(69, 69, 69, 0.3);
  padding-top: 2%;
  padding-bottom: 2%;
}

#weather, #temp, #location, button {
  text-align: center;
}


/*html, body{
  padding:0%;
  height:100%;
}
header{
  padding-top:4%;
  text-align:center;
}
article{
  padding: 0%;
	border-radius: 3%;
  padding-bottom:4%;
  height: 100%;
}
button{
  text-align: center;
}
section{
  margin-left: 35%;
  width: 30%;
  border-radius:3%;
	background:rgba(69,69,69, 0.3);
  padding-bottom:4%;
}

#temp, #weather, #location {
  /*position:relative;
  text-align: center;
	padding: 4% 0%;
	display:block;
	vertical-align: middle;
}*/