html, body{
  height:100%;
}
header{
  padding-top:4%;
  text-align:center;
}
article{
	border-radius: 3%;
  padding-bottom:4%;
  height: 100%;
}
button{
  margin-left:45%;
}
section{
  margin-left: 35%;
  width: 30%;
  border-radius:3%;
	background:rgba(69,69,69, 0.3);
  padding-bottom:4%;
}

#temp, #weather, #location {
  position:relative;
  margin-left:42%;
	padding-bottom: 4%;
	display:block;
	vertical-align: middle;
}